body 
{
	background-color: #eee;
}

h1 
{
	margin-bottom: 1ex;
}

form ul li {
	padding: 1ex 1ex;
}

form ul li input
{
	width: 20em !important;
}

li label {
	display: inline-block;
	width: 15em;
}

#PasswordList span.status {
	float: right;
	position: relative;
	top: -2ex;
	margin-right: 0.5em;
	height: 10px;
	width: 10px;
	background: white;
}

.bordergreen {
	background: rgb(0,255,0) !important;
}
.borderred {
	border: 2px solid rgb(255,0,0) !important;
	float: none !important;
	position: static !important;
	display: block;
	height: auto !important;
	width: 100% !important;
}
.borderyellow {
	background: rgb(255,205,0) !important;
}