/* Reset All */
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	background: none;
	color: inherit;
}

/* Set background and font */
body {
	font-family: "trebuchet ms",Sans-Serif;
	font-size: small;
	color: #111;
	background: white;
}

/** Remove Bulletpoints */
#prefform, #prefform ul{
	list-style:none;
}

/* Remargin p's */
p {
	margin: 1ex 1em;
}

a:visited, a:link
{
	color: inherit;
}

input {
	background: #eee;
	border: 1px solid #eee;
	padding: 1ex 2ex;
	border-radius: 5px;
	box-shadow: inset 1px 1px 2px #666;
	color: #666;
}

input[type='text'] {
	width: 30em;
}

input[type='checkbox'] {
	border-radius: 0px;
	padding: 0px;
	border: 1px solid #ddd;
}

input[type='radio'] {
	margin-left: 2em;
}
input[type='radio']:nth-of-type(1) {
	margin-left: 0px;
}

input[type='text']:focus, input[type='submit'], button, input[type='button'] {
	color: #111;
}	

input[type='submit'], button, input[type='button'] {
	border: 0px;
	box-shadow: 1px 1px 5px #666;
}

/** Hidden from display **/
.hidden {
	display: none;
}

/*Table Handling for Popup and matrix */
/** Results Table */
table {
/*
	border-collapse: collapse;
	border: 1px solid rgba(160,160,160,0.8);
*/

	border-spacing: 0px;
	box-shadow: 1px 1px 2px #666;
	
	background: none;
	width: 100%;
	
	border-radius:3px;	
}

table thead tr th:first-child {
	border-top-left-radius:3px
}

table thead tr th:last-child {
	border-top-right-radius:3px
}
table tr:last-child td:first-child {
	border-bottom-left-radius:3px
}
	
table tr:last-child td:last-child {
	border-bottom-right-radius:3px
}
	
table td {
	font-family: monospace;
}

table thead th, table td {
	padding: 0.5ex 1ex;
}
table tbody tr:nth-child(even) {
/*	background: rgba(128,128,128,0.2);	*/
	background-image: -o-linear-gradient(top,rgba(192,192,192,0.45) 0%, rgba(128,128,128,0.2) 15%, rgba(128,128,128,0.2) 85%, rgba(192,192,192,0.45) 100%);
	
}
table tbody tr:nth-child(odd) {	/* Light Rows*/
/*	background: rgba(192,192,192,0.2);	*/
	background-image: -o-linear-gradient(top,rgba(192,192,192,0.45) 0%, rgba(255,255,255,0.9) 15%, rgba(255,255,255,0.9) 85%, rgba(192,192,192,0.45) 100%);
}
table thead th {
	background: -o-linear-gradient(rgba(10,10,10,0.8),rgba(10,10,10,0.7));
	color: rgba(240,240,240,1);
	text-shadow: rgba(255,255,255,0.2) 1px -1px 2px;
}
table tbody input {
	display: block;
	width: 20em !important;
	height: auto 	!important;
	margin: 0px auto !important;
	padding: 0.5ex 1ex !important;
	font-family: monospace;
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px #666;
}