
/** Main Container **/
#popupContainer {
	border-radius: 5px;
	overflow-x: hidden;
}

* {
	font-size: x-small;
}

body {
}

/* headings */
h1 {
	margin-top: 0.25ex;
}
/** Logo **/
h1 img {
	vertical-align: text-bottom;
	margin-right: 0.5em;
}

a img {
	vertical-align: baseline;
}

/** Save Button **/
#saveContainer {
	text-align: center;
}

h1,h2,h3,h4,h5, label, legend {
	text-shadow: rgba(0,0,0,0.2) 1px -1px 2px;
}

h2 {
	margin: 2ex 0ex;
}

/**
	Save user notification
*/
#saveOutput {
	padding: 1em;
	font-size: larger;
}

legend {
	margin-left: 0em;
	font-size: 140%;
	font-weight: bold;
}

/* Labels  and Inputs */
label {
	display: inline-block;
	width: 10em;
	font-weight: bold;
}

ul.options {
	margin-left: 2em;
	margin-bottom: 4ex;
}

ul.options li {
	height: 5ex;
	line-height: 5ex;
	margin-bottom: 1ex;
}

.disabled {
	color: #666;
	font-style: italic;
}

input[type='text'] {
	width: 18em;
}

input[type='checkbox'] {
	margin-left: 10ex;
}
input.inputLabel {
	width: 8em !important;
}

input.inputPass {
	width: 16em !important;
}

input {
	background: #fff;
	border: 1px solid #eee;
}

#inputPassContainer input {
	font-family: monospace;
}

.mini-instructions {
	opacity: 0.5;
	font-size: smaller;
	margin-left: 2ex;
	text-shadow: none;
}

/** Internal Scrolling **/
#inputPassContainer {
	max-height: 98px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #aaa;
	border-left: 0px;
	border-right: 0px;
	padding: 1ex;
}
#inputPassContainer p {
	margin-left: 0ex;
	margin-top: 0ex;
}

/** Loading Stuff **/
#loadingDiv {
	text-align: center;
}

#loadingDiv span {
	display: block;
}

/** icons that do things **/
img.jsAction {
	cursor: pointer;
	vertical-align: middle;
}

div#retrieveOutput {
	padding: 2ex 2em;
}	

/** Results Table */
table {
/*
	border-collapse: collapse;
	border: 1px solid rgba(160,160,160,0.8);
*/

	border-spacing: 0px;
	box-shadow: 1px 1px 2px #666;
	
	background: none;
	width: 100%;
	
	border-radius:3px;	
}

table thead tr th:first-child {
	border-top-left-radius:3px
}

table thead tr th:last-child {
	border-top-right-radius:3px
}
table tr:last-child td:first-child {
	border-bottom-left-radius:3px
}
	
table tr:last-child td:last-child {
	border-bottom-right-radius:3px
}
	
table td {
	font-family: monospace;
}

table thead th, table td {
	padding: 0.5ex 1ex;
}
table tbody tr:nth-child(even) {
/*	background: rgba(128,128,128,0.2);	*/
	background-image: -o-linear-gradient(top,rgba(192,192,192,0.45) 0%, rgba(128,128,128,0.2) 15%, rgba(128,128,128,0.2) 85%, rgba(192,192,192,0.45) 100%);
	
}
table tbody tr:nth-child(odd) {	/* Light Rows*/
/*	background: rgba(192,192,192,0.2);	*/
	background-image: -o-linear-gradient(top,rgba(192,192,192,0.45) 0%, rgba(255,255,255,0.9) 15%, rgba(255,255,255,0.9) 85%, rgba(192,192,192,0.45) 100%);
}
table thead th {
	background: -o-linear-gradient(rgba(10,10,10,0.8),rgba(10,10,10,0.7));
	color: rgba(240,240,240,1);
	text-shadow: rgba(255,255,255,0.2) 1px -1px 2px;
}
table tbody input {
	display: block;
	width: 20em !important;
	height: auto 	!important;
	margin: 0px auto !important;
	padding: 0.5ex 1ex !important;
	font-family: monospace;
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px #666;
}

/**
	Tab Bar 
*/
ul#tabBar {
	list-style: none;
	padding: 0em 1em;
}
#tabBar li {
	display: inline-block;
	min-width: 8em;
	padding: 1ex 0.25ex;
	
	border: 1px solid #eee;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 1px solid #aaa;
	
	background-image: -o-linear-gradient(top, rgba(160,160,160,0.1) 0%, rgba(255,255,255,0) 90%);
	
	text-align: center;
	position: relative;
	top: 1px;
	
	cursor: pointer;
}
#tabBar li.current {
	font-weight: bold;
	border-color: #aaa;
	border-bottom-color: #ececec;	/* must match bg colour */
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%, #ececec 90%);
}
#tabContent {
	border: 1px solid #aaa;
	border-radius: 3px;
	background: rgba(160,160,160,0.2);
	height: 231px;
}