
/** Main Container **/
#popupContainer {
	border-radius: 5px;
	overflow-x: hidden;
}

* {
	font-size: x-small;
}

body, #popupContainer {
	overflow: hidden;
/*	background:  transparent !important;	*/
}

/* headings */
h1 {
	margin-top: 0.25ex;
}
/** Logo **/
h1 img {
	margin-right: 0.5em;
}

a img {
	vertical-align: baseline;
}

/** Save Button **/
#saveContainer {
	text-align: center;
}

h1,h2,h3,h4,h5, label, legend {
	text-shadow: rgba(0,0,0,0.2) 1px -1px 2px;
}

h2 {
	margin: 2ex 0ex;
}

/**
	Save user notification and fetch errors
*/
#saveOutput, #fetchErrorDiv {
	padding: 1em;
	font-size: larger;
}

legend {
	margin-left: 0em;
	font-size: 140%;
	font-weight: bold;
}

/* Labels  and Inputs */
label {
	display: inline-block;
	width: 7em;
	font-weight: bold;
}

ul.options {
	margin-left: 2em;
	margin-bottom: 4ex;
}

ul.options li {
	height: 5ex;
	line-height: 5ex;
	margin-bottom: 1ex;
}

.disabled {
	color: #666;
	font-style: italic;
}

input[type='text'] {
	width: 18em;
}

input[type='checkbox'] {
	margin-left: 10ex;
}
input.inputLabel {
	width: 10em !important;
}

table tbody input.retrievedPassword {
	width: 10em !important;
}
input.inputPass {
	width: 11.85em !important;
}

input {
	background: #fff;
	border: 1px solid #eee;
}

#inputPassContainer input {
	font-family: monospace;
}

.underline {
	text-decoration: underline;
}

/** Internal Scrolling **/
#tabContent #inputPassContainer {
	max-height: 98px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #aaa;
	border-left: 0px;
	border-right: 0px;
	padding: 1ex;
}
#tabContent #inputPassContainer p {
	margin-left: 0ex;
	margin-top: 0ex;
	margin-right: 0ex;
	margin-bottom: 0.25ex;
}

/** Loading Stuff **/
#loadingDiv {
	text-align: center;
}

#loadingDiv span {
	display: block;
}

/** icons that do things **/
img.jsAction {
	cursor: pointer;
	vertical-align: middle;
}

div#retrieveOutput {
	padding: 2ex 2em;
}	

div#retrieveOutput table.results {
	width: 100%;
}

div#retrieveOutput table.results tbody td {
	white-space: nowrap;
}

div#fetchDiv {
	margin-top: 0.5ex;
	max-height: 230px;
	overflow-y: auto;
}

/**
	Tab Bar 
*/
ul#tabBar {
	list-style: none;
	padding: 0em 1em;
}

#tabBar li {
	display: inline-block;
	min-width: 8em;
	padding: 1ex 0.25ex;
	
	border: 1px solid #eee;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 1px solid #aaa;
	
	background-image: linear-gradient(top, rgba(160,160,160,0.1) 0%, rgba(255,255,255,0) 90%);
	background-image: -o-linear-gradient(top, rgba(160,160,160,0.1) 0%, rgba(255,255,255,0) 90%);
	background-image: -webkit-linear-gradient(top, rgba(160,160,160,0.1) 0%, rgba(255,255,255,0) 90%);
	background-image: -moz-linear-gradient(top, rgba(160,160,160,0.1) 0%, rgba(255,255,255,0) 90%);
	background-image: -ms-linear-gradient(top, rgba(160,160,160,0.1) 0%, rgba(255,255,255,0) 90%);
	
	text-align: center;
	position: relative;
	top: 1px;
	
	color: grey;
	
	cursor: pointer;
}

#tabBar li.current {
	font-weight: bold;
	border-color: #aaa;
	border-bottom-color: #ececec;	/* must match bg colour */
	background-image: linear-gradient(top, rgba(255,255,255,0.3) 0%, #ececec 90%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%, #ececec 90%);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%, #ececec 90%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, #ececec 90%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%, #ececec 90%);
	top: 2px;
	color: black;
}

#tabContent {
	border: 1px solid #aaa;
	border-radius: 3px;
	background: rgba(160,160,160,0.2);
	height: 231px;
}

/** Add icon tab **/
#addPairP {
	cursor: pointer;
}

.hangingTab {
	display: inline-block;
	margin-top: -1px !important;
	border: 1px solid #aaa;
	border-top-color: #ececec;	/* must match bg colour */
	padding: 0ex 0.5em 0.5ex 0.5em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-image: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
	min-height: 16px;
}

.hangingTab input[type='checkbox'] {
	margin-left: 0px;
}

.hangingTab label {
	width: auto;
}

#tabContent .submitContainer {
	margin-top: 2ex;
	float: left;
}

#saveOutput {

}

#tabContent p {
	margin: 0 1ex;
}

/*
 *	table on the lightbox
 */
#InputChooserTableContainer {
	margin-top:2ex;
	margin-bottom: 2ex;
}

#InputChooserTableContainer table {
	margin-left: auto;
	margin-right: auto;
}

#InputChooserTableContainer select
{
	padding: 0px;
	margin: 0px;
}

.expanded
{
	display: none;
}

.rightAligned {
	text-align: right;
}

/*
 * Mini-menu on the popup
 */
#iconBar {
	position: absolute;
	top: 2px;
	right: 2px;
}
#iconBar a {
	display: inline-block;
	margin-left: 0.2em;
}

/*
 *	URL display for the fullscreen version
 */
 
#fullscreen_url {
	font-family: "Consolas", mono-space;
	display: block;
	margin-bottom: 2ex;
	padding-left: 1em;
	margin-top: 1ex;
}