<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/mintsoft/MintSync" >
	<name short='MintSync'>MintSync - v0.7</name>
	<description>Secure client-side decrypted password storage</description>
	<author href="yourURL" email="rob@mintsoft.net">Rob Emery</author>
	<access origin="*"/>
	<icon src="img/icon.png"/>
	<preference name = "ServerURL" 					value = "https://example.com/mypasswords"	readonly = "false"/>
	<preference name = "SaveAuthentication" 			value = "0.8"	readonly = "false" />
	<preference name = "SavePassword" 				value = "0"		readonly = "false" />
	<preference name = "Notify"	 					value = "1"		readonly = "false" />
	<preference name = "CheckCryptoPass"	 			value = "1"		readonly = "false" />
	<preference name = "NotifySource"	 				value = "ajax"	readonly = "false" />
	<preference name = "NotifySourceUpdatePeriod"	value = "5"		readonly = "false" />
	<preference name = "AutoFetch"	 				value = "0"		readonly = "false" />
	<preference name = "Cipher" 						value = "aes"	readonly = "false" />
	<preference name = "KeyLength" 					value = "256" 	readonly = "false" />
	<preference name = "passwordStrengthNum"			value = "true" readonly = "false" />
	<preference name = "passwordStrengthPunc1"		value = "true" readonly = "false" />
	<preference name = "passwordStrengthPunc2"		value = "true" readonly = "false" />
	<preference name = "GeneratedPasswordLength"	value = "16" 	readonly = "false" />
</widget>


