<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://mintsoft.github.com/MintSync" version="0.95" defaultlocale="en">
	<name short='MintSync'>MintSync</name>
	<description xml:lang="en">Secure, self-hosted client-side decrypted password storage</description>
	<author href="http://mintsoft.github.com/" email="rob@mintsoft.net">Rob Emery</author>
	<access origin="*"/>
	<icon src="img/icon.png"/>
	<preference name = "ServerURL" 					value = "https://example.com/mypasswords/"	readonly = "false"/>
	<preference name = "SaveAuthentication" 			value = "0.8"	readonly = "false" />
	<preference name = "SavePassword" 				value = "0"		readonly = "false" />
	<preference name = "Notify"	 					value = "1"		readonly = "false" />
	<preference name = "CheckCryptoPass"	 			value = "1"		readonly = "false" />
	<preference name = "NotifySource"	 				value = "ajax"	readonly = "false" />
	<preference name = "NotifySourceUpdatePeriod"	value = "5"		readonly = "false" />
	<preference name = "AutoFetch"	 				value = "0"		readonly = "false" />
	<preference name = "Cipher" 						value = "aes"	readonly = "false" />
	<preference name = "KeyLength" 					value = "256" 	readonly = "false" />
	<preference name = "passwordStrengthNum"			value = "true" readonly = "false" />
	<preference name = "passwordStrengthPunc1"		value = "true" readonly = "false" />
	<preference name = "passwordStrengthPunc2"		value = "true" readonly = "false" />
	<preference name = "GeneratedPasswordLength"	value = "16" 	readonly = "false" />
	<license href='http://www.apache.org/licenses/LICENSE-2.0'>Copyright 2011 Mintsoft

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.</license>
</widget>