
body 
{
	background-color: #eee;
	overflow: auto !important;
}

/* headings */
h1 
{
	margin-top: 0.25ex;
	margin-bottom: 0.5ex;
}
/** Logo **/
h1 img 
{
	vertical-align: middle;
	margin-right: 0.5em;
}

a img 
{
	vertical-align: baseline;
}

/** Save Button **/
#saveContainer
{
	text-align: center;
}

h1,h2,h3,h4,h5, .bigLabel 
{
	text-shadow: rgba(0,0,0,0.2) 1px -1px 2px;
}

h2
{
	margin: 2ex 0ex;
}

/* Labels  and Inputs */
label {
	text-shadow: rgba(0,0,0,0.2) 1px -1px 2px;
	display: inline-block;
	width: 7em;
	font-weight: bold;
}

.bigLabel 
{
	display: inline-block;
	width: 10em;
	font-weight: bold;
}

.disabled 
{
	color: #666;
	font-style: italic;
}

/** Variable Width Div Indicator **/
#variableWidth
{
	position: absolute;
	top: 1ex;
	right: 2ex;
	
	font-family: monospace;
	font-size: smaller;
	
	color: #ccc;
	background: #fcfcfc;
	box-shadow: 2px 2px 10px #666;
	border-radius: 5px;
	padding: 0ex;
	cursor: pointer;
	padding: 0.5ex;
}

#variableWidth:hover 
{
	color: inherit;
}

#retrieveOutput {
	margin-top: 3ex;
}

/** matrixLoading **/
#matrixLoading
{
	vertical-align: middle;
	text-align: center;
}

#matrixLoading img 
{
	display: block;
	margin-top: 2ex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1ex;
	
}

ul.styled li h3 {
	cursor: pointer;
	/* not supported by Opera currently */
	/*
	user-select: none;
	-o-user-select: none;
	*/
	
	/* These make things *SLOW* */
	text-shadow: none;
}


h2 {
	font-size: small;
}

input#searchValue {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

/* Password Matrix Value TD*/
td.pm_value {
	position: relative;
}

/** Explode/Expand icon */
img.explodeIcon {
	position: absolute;
	top: 1.1ex;
	right: 0.4em;
}

/** Bin Icon */
ul.styled li .binIcon {
	margin: 0px;
	padding: 0px;
	
	top: 0ex;
}
