/* Reset All */
* 
{
	padding: 0px;
	margin: 0px;
	border: 0px;
	background: none;
	color: inherit;
}

/* Set background and font */
body, p, h1,h2,h3,h4,h5,h6, *
{
	font-family:	"Trebuchet MS", "Liberation Sans", "Tahoma", Sans-Serif;
}

body 
{
	font-size: small;
	color: #111;
	background: white;
}

/** Remove Bulletpoints */
ul
{
	list-style:none;
}

/* Remargin p's */
p 
{
	margin: 1ex 0em;
}

a:visited, a:link
{
	color: inherit;
}

/** Main Container for options & fullscreen things **/
.mint_mainContainer
{
	width: 50em;
	min-width: 50em;
	margin-top: 2ex;
	margin-bottom: 2ex;
	margin-left: auto;
	margin-right: auto;
	background: #fcfcfc;
	padding: 2ex;
	box-shadow: 2px 2px 10px #666;
	border-radius: 5px;
}

.mini-instructions 
{
	opacity: 0.5;
	font-size: smaller;
	margin-left: 2ex;
	text-shadow: none;
}

input, select, .SelectWrapper
{
	border: 1px solid #eee;
	padding: 1ex 1ex;
	border-radius: 5px;
	box-shadow: inset 1px 1px 2px #666;
	color: #666;
}

select 
{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 0px;
	margin: 0px;
}
input, select, .SelectWrapper, tr.explodeRow, tr.explodeRow td
{
	background: #eee;
}

input[type='text']
{
	width: 30em;
}

input[type='checkbox'] 
{
	border-radius: 0px;
	padding: 0px;
	border: 1px solid #ddd;
}

input[type='radio'] 
{
	margin-left: 1em;
	box-shadow: none;	/* Looks just awful with box-shadow in webkit */
}
input[type='radio']:nth-of-type(1) 
{
	margin-left: 0px;
}

input[type='text']:focus, input[type='submit'], button, input[type='button'] 
{
	color: #111;
}	

input[type='submit'], button, input[type='button'] 
{
	border: 0px;
	box-shadow: 1px 1px 5px #666;
	margin-bottom: 1ex;
}

/* Disable chromium's irritating outline on selected boxes */
input:focus, select:focus {
	outline: none;
}

/** Force a Y-scrollbar**/
/*
	Only really applied to html on the password matrix
	to stop it from jumping around when you search
 */
.y-scrollbar 
{
	overflow-y: scroll;
}

/** Save Button **/
#saveContainer, .centeredContents
{
	text-align: center;
}

/** Hidden from display **/
.hidden 
{
	display: none;
}

/*Table Handling for Popup and matrix */
/** Results Table */
table 
{
/*
	border-collapse: collapse;
	border: 1px solid rgba(160,160,160,0.8);
*/

	border-spacing: 0px;
	box-shadow: 1px 1px 2px #666;
	
	background: none;
	
	
	border-radius:3px;	
}

table thead tr th:first-child 
{
	border-top-left-radius:3px
}

table thead tr th:last-child 
{
	border-top-right-radius:3px
}
table tr:last-child td:first-child 
{
	border-bottom-left-radius:3px
}
	
table tr:last-child td:last-child 
{
	border-bottom-right-radius:3px
}
	
table td, table tbody input
{
	font-family: "Consolas", "Inconsolata", "DejaVu Sans Mono", monospace;
}

table thead th, table td 
{
	padding: 0.5ex 1ex;
}
table tbody tr:nth-child(even), ul.zebra li:nth-child(odd) 
{
	background: rgba(128,128,128,0.2);
}
table tbody tr:nth-child(odd), ul.zebra li:nth-child(even) 
{	/* Light Rows*/
	background: rgba(255,255,255,0.9);
}
table thead th 
{
	background: rgba(10,10,10,0.8);
	background: linear-gradient(rgba(10,10,10,0.8),rgba(10,10,10,0.7));
	background: -o-linear-gradient(rgba(10,10,10,0.8),rgba(10,10,10,0.7));
	background: -webkit-linear-gradient(rgba(10,10,10,0.8),rgba(10,10,10,0.7));
	background: -moz-linear-gradient(rgba(10,10,10,0.8),rgba(10,10,10,0.7));
	background: -ms-linear-gradient(rgba(10,10,10,0.8),rgba(10,10,10,0.7));
	color: rgba(240,240,240,1);
	text-shadow: rgba(255,255,255,0.2) 1px -1px 2px;
}
table tbody input 
{
	display: block;
	width: 20em !important;
	height: auto 	!important;
	margin: 0px auto !important;
	padding: 0.5ex 1ex !important;
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px #666;
}

table.results tr td:nth-child(1) 
{
	width: 40%;
}

/**
ul's for password matrix and server user interface
*/
ul.styled
{
	border: 1px solid #aaa;
	border-radius: 3px;
	background: rgba(160,160,160,0.2);
}

ul.styled li 
{
	padding: 1ex 0ex;
}

ul.styled li>h3, ul.styled li>a, ul.styled li>span
{
	padding:0px;
	margin: 0px;
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space: nowrap;
	margin-left: 1em;

}

ul.styled li .binIcon 
{
	float: right;
	position: relative;
	/* nice hacky positioning here */
	top: -0.6ex;
	right: 0.5ex;
}

img.clickable, ul.styled li .binIcon 
{
	cursor: pointer;
}

ul.styled li 
{
	border-bottom: 1px solid #aaa;
}

ul.styled li:last-of-type 
{
	border-bottom: 0px;
}

ul.styled li table 
{
	margin: 2ex auto 2ex auto;
	width: 90%;
}

/* Debug links on the options page */
.debugLink
{
	opacity: 0.5;
	font-style: italic;
	font-size: smaller;
	
}

/** Lightboxes **/
.modalDialog {
	display:none;
	padding: 1ex 2ex;
	background: #fcfcfc;
	box-shadow: 0px 0px 10px #fcfcfc;
	border: 1px solid #eee;
	border-radius:3px;
}

.modalDialog input[type='password'], .modalDialog input[type='text'] {
	width: 14em;
}

.modalDialog input,.modalDialog button {
	margin-left: auto;
	margin-right: auto;
}

.modalDialog #dialogPasswordInstruction, .modalDialog #authenticationInstruction {
	text-align: center;
	margin-top: 1ex;
}

.modalDialog input.close {
	margin-top: 1ex;
	margin-bottom: 0ex;
}

/**
	Single digit table and inputs
*/

input.singleDigit 
{
	width: 1em !important;
	padding: 0px !important;
	text-align: center;
	border-radius: 0px !important;
	box-shadow: none !important;
}

table.digits tbody td {
	padding-bottom: 3px !important;
}	

table.digits td:first-of-type,
table.digits th:first-of-type
{
	padding-left: 3px !important;
}

input.singleDigit:first-of-type, 
table.digits td:first-of-type,
table.digits tbody tr:last-of-type, table.digits, table.digits tbody
{
	border-bottom-left-radius: 3px;
}

table.digits td:last-of-type,
table.digits th:last-of-type
{
	padding-right: 3px !important;
}

input.singleDigit:last-of-type, 
table.digits td:last-of-type,
table.digits tbody tr:last-of-type, table.digits, table.digits tbody
{
	border-bottom-right-radius: 3px;
}

table.digits
{
	margin-top: 1ex !important;
	margin-bottom: 0.5ex !important;
	margin-left: auto !important;
	margin-right: auto !important;
	box-shadow: none !important;
}

table.digits tr, table.digits td, table.digits th
{
	padding: 0px !important;
	margin: 0px !important;
	width: auto !important;
}

table.digits td:not(:last-of-type), table.digits th:not(:last-of-type)
{
	border-right: 1px solid white;
}