
body {
	background-color: #eee;
}

/* headings */
h1 {
	margin-top: 0.25ex;
}
/** Logo **/
h1 img 
{
	vertical-align: middle;
	margin-right: 0.5em;
}

a img {
	vertical-align: baseline;
}

h1,h2,h3,h4,h5, .bigLabel {
	text-shadow: rgba(0,0,0,0.2) 1px -1px 2px;
}

h2 {
	margin: 2ex 0ex;
}

/* Labels  and Inputs */
.bigLabel {
	display: inline-block;
	width: 12em;
	font-weight: bold;
}

ul.options {
	margin-left: 0.5em;
	margin-bottom: 4ex;
}

ul.options li {
	height: 5ex;
	line-height: 5ex;
	margin-bottom: 1ex;
}

.disabled {
	color: #666;
	font-style: italic;
}

/* Labels  and Inputs */
.modalDialog label {
	text-shadow: rgba(0,0,0,0.2) 1px -1px 2px;
	display: inline-block;
	width: 10em;
	font-weight: bold;
}


/** Password Matrix Link **/
.rightAligned {
	text-align: right;
}
.advancedOption {
	display: none;
}

